<%= turbo_stream_from @booking %>

<h3><%= @booking.title %></h3>
<p>from <%= @booking.creator.name %></p>

<% if @booking.reviewable?(by: Current.user) %>
  <section>
    <div class="button-group">
      <%= button_to "Approve", booking_approvals_path(@booking), class: "button--success" %>
      <%= button_to "Reject", booking_rejections_path(@booking), class: "button--danger" %>
    </div>
  </section>
<% end %>

<section>
  <h3>Justification</h3>
  <article>
    <%= @booking.justification %>
  </article>
</section>

<section>
  <h3>Discussion</h3>
  <%= turbo_frame_tag :timeline, src: booking_timeline_path(@booking) %>

  <%= turbo_frame_tag @booking, Comment.new, src: new_booking_comment_path(@booking) %>
</section>
